body {
    background: linear-gradient(-45deg, #0099ff, #66ff33, #0099ff ,#66ff33);
    background-size: 200% 200%;
    -webkit-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#one {
    width: 66%;
    margin: 0 auto;
}

@media all and (min-width: 481px) and (max-width: 768px) {
    img {
        height: 400px;
        width: 100px;
    }
}

@media all and (max-width: 480px) {
    img {
       height: 453px;
       width: 45px;
       margin: 7px;
       right: 7px;
    }
    body, #one {
        background: linear-gradient(0.25turn, rgb(17, 97, 216), rgb(31, 219, 219), rgb(27, 17, 170));
    }
}
