body {
    background: linear-gradient(-75deg, rgb(3, 245, 3), white , rgb(16, 202, 235), white);
    background-size: 200% 200%;
    -webkit-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;

}

.cards {
    width: 7.42%;
    height: 120px;
    display: inline-block;
    font-size: 0;
    margin-bottom: 7px;
    position: relative;
     
}
.block {
    display: block;
}
.containerA {
    display: none;
}

.start {
    height: 220px;
    width: 300px;
    border: 1px solid black;
    border-radius: 33px;
    background: linear-gradient(-75deg, yellow, white , rgb(3, 245, 3), white);
    background-size: 200% 200%;
    -webkit-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;
    font-family: 'Franklin Gothic Medium', Courier, monospace;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: rgb(28, 55, 173);
    outline: none;
    display: inline-block;
    margin: 10px;
   
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.d-block {
    border-radius: 6%;
}

.shuffle {
    height: 753px;
    margin: 7px;
    right: 7px;
}

.pint {
    height: 100%;
}

.begin {
    margin-left: 5%;
}
#whole {
    width: 42%;
    margin: 0 auto;
}

#clubs {
    color: rgb(8, 66, 8);
}
#diamonds {
    color: rgb(49, 149, 207);
}
#hearts {
    color: red;
}
#spades {
    color: black;
}
#redcards {
    color: rgb(163, 27, 27);
}
#blackcards {
    color: rgb(78, 67, 67);
}
#clickme {
    color: blueviolet;
}
#singles {
    color: orange;
}
#broadways {
    color: rgb(225, 236, 68);
}
#fulldeck {
    color: rgb(62, 62, 211);
}
#train {
    color: white;
}
#hiclick {
    color: rgb(19, 83, 25)
}

@media all and (max-width: 480px) {
    #whole {
        width: 80%;
        margin: 0 auto;
    }

    .cards {
        width: 13.41%;
        height: 78px;
        display: inline-block;
        font-size: 0;
        margin-bottom: 7px;
        position: relative;
         
    }
    .start {
        height: 85px;
        width: 160px;
        border: 1px solid black;
        border-radius: 33px;
        background: linear-gradient(-75deg, yellow, white , rgb(3, 245, 3), white);
        background-size: 200% 200%;
        -webkit-animation: Gradient 3s ease infinite;
        animation: Gradient 3s ease infinite;
        font-family: 'Franklin Gothic Medium', Courier, monospace;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: rgb(28, 55, 173);
        outline: none;
        display: inline-block;
        margin: 9px;
       
    }
    .begin {
        margin-left: 7.2%;
    }
}