img {
    height: 800px;
    width: 200px;
}

@media all and (min-width: 481px) and (max-width: 768px) {
    img {
        height: 400px;
        width: 100px;
    }
}

@media all and (max-width: 480px) {
    img {
       height: 500px;
       width: 50px;
    }
}